<!DOCTYPE html>
<html>
  <head>
    <title>HabtmCheckboxes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
      <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css">
      <%= javascript_importmap_tags %>
    </head>
    <body >
      <%= render "headers/main" %>
      <main class="container">
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
    </body>
  </html>
